/* Font imports */
@font-face {
  font-family: 'DM Serif Text';
  src: url('fonts/DMSerifText-Regular.ttf') format('truetype'),
       url('fonts/DMSerifText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'PT Serif';
  src: url('fonts/PTSerif-Regular.ttf') format('truetype'),
       url('fonts/PTSerif-Bold.ttf') format('truetype');
}


body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  color: white;
  font-family: 'PT Serif', serif;
}


h1 {
  text-align: center;
  font-family: 'DM Serif Text', serif;
  font-size: 50px;
  margin-top: 30px;
}


table {
  table-layout: fixed;
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse; 
}

.table-content {
  font-family: 'DM Serif Text', serif;
  font-size: 18px;
  text-align: center;
}

#planets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


td, th {
  border: 1px solid #ccc;
  width: 25%; 
  height: 50px;
  color: white;
  padding: 10px; 
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); 
}

th {
  background-color: #2c3e50;
  font-weight: bold;
}


img.images {
  width: 100px;
  height: 100px;
  object-fit: cover; 
}



#heading {
  text-align: center;
  margin: 20px ;
}


